[Unit]
Description=Telegram Subscription Bot
After=syslog.target network.target

[Service]
User=freddy
Group=freddy
WorkingDirectory=/home/freddy/fanticket_scraper
Restart=always
ExecStart=/usr/bin/env ruby telegram_registration.rb
