[Unit]
Description=Eventim FanSale Scraper
After=syslog.target network.target

[Service]
User=freddy
Group=freddy
WorkingDirectory=/home/freddy/fanticket_scraper
Restart=always
ExecStart=/usr/bin/env ruby fansale_scrape.rb
